
.landing-faq-item
{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1.5px solid #a0a0a0;
    padding: 0.75rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    background-color: #fafafa;
    gap: 0.25rem;
}

.landing-faq-item:hover
{
    background-color: #f0f0f0;
}

.landing-faq-text
{
    font-size: 22px;
    text-align: start;
}

.landing-faq-bold
{
    font-size: 22px;
    font-weight: 700;
}

.landing-faq-answer
{
    transition: max-height 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}