
.order-success-wrapper
{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    padding: calc(2vw + 1rem) 1rem 3rem 1rem;
}

.order-success-title
{
    padding-top: 0.5rem;
    font-size: 38px;
    font-weight: 600;
}

.order-success-subtitle
{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.order-success-btn-row-wrapper
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.order-success-next-steps
{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 800px)
{
    .text-with-image
    {
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }
    .order-success-status-small
    {
        text-align: center;
    }
    .order-success-status
    {
        font-size: 24px;
    }
}