
.reports-title-wrapper
{
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    background-color: #f7f7fb;
    box-shadow: 5px 5px 5px 0px #cccccc;
    padding: 1rem;
    margin: 2rem 2rem 1rem 2rem;
    width: calc(80vw - 2rem - 2rem - 1px);
}
@media screen and (max-width: 800px)
{
    .reports-title-wrapper
    {
        width: calc(100vw - 2rem - 2rem - 1px);
    }
}

.reports-wrapper
{
    display: flex;
    flex-flow: column;
    min-width: 40vw;
}

.reports-list
{
    display: flex;
    flex-flow: row;
    gap: 0rem;
    padding: 1rem 0 1rem 0;
    align-items: center;
    max-width: 90vw;
    overflow-x: scroll;
}

.reports-title
{
    font-size: 30px;
    font-weight: 500;
    padding-left: 0.5rem;
}

.reports-report-wrapper
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-shrink: 0;
    max-width: calc(8rem + 2px);
}

.reports-round-wrapper
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 50%;
    border: 1.5px #a0a0a0 solid;
    padding: 1rem;
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    box-shadow: 2px 2px 2px 0px #eeeeee;
    overflow: hidden;
}

.reports-report-date-time-group
{
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
}

.reports-report-domain
{
    font-size: 22px;
    font-weight: 600;
    color: #180054;
    text-overflow: ellipsis;
    max-width: 10rem;
    overflow: hidden;
    white-space: pre;
}

.report-rotate
{
    rotate: 0deg;
}

.reports-title-and-image-wrapper
{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
}

.reports-line
{
    height: 0.5rem;
    background-color: #505050;
    flex-shrink: 0;
    border: none;
    margin: 0 0 22px 0;
}

.no-reports-found-text
{
    font-size: 26px;
    padding: 0.75rem;
    font-weight: 500;
}

.reports-report-timestamp
{
    font-size: 17px;
    font-weight: 500;
}