
.reports-title-wrapper
{
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    background-color: #fafaff;
    box-shadow: 5px 5px 5px 0px #cccccc;
    padding: 2rem;
    margin: 2rem 2rem 1rem 2rem;
}

.reports-wrapper
{
    display: flex;
    flex-flow: column;
    min-width: 40vw;
    max-width: 80vw;
}

.reports-list
{
    display: flex;
    flex-flow: row;
    gap: 0rem;
    padding: 1rem 0 1rem 0;
    align-items: center;
    max-width: 90vw;
    overflow-y: scroll;
}

.reports-title
{
    font-size: 28px;
    font-weight: 500;
}

.reports-report-wrapper
{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 1px #505050 solid;
    padding: 1rem;
    flex-shrink: 0;
    box-shadow: 2px 2px 2px 0px #eeeeee;
}

.reports-report-date-time-group
{
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
}

.reports-report-domain
{
    font-size: 22px;
    text-overflow: ellipsis;
    max-width: 10rem;
    overflow: hidden;
}

.report-rotate
{
    rotate: 0deg;
}

.reports-title-and-image-wrapper
{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
}

.reports-line
{
    height: 0.5rem;
    background-color: #505050;
    flex-shrink: 0;
    border: none;
}