
.strategy-title-wrapper
{
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    background-color: #fafaff;
    box-shadow: 5px 5px 5px 0px #cccccc;
    padding: 2rem;
    margin: 2rem 2rem 1rem 2rem;
}

.strategy-title
{
    font-size: 28px;
    font-weight: 500;
}