
.modal-wrapper
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    max-width: calc(100vw - 2rem);
}

.modal-top-bar
{
    display: flex;
    flex-flow: row nowrap;

}