
.contact-us-container
{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3rem;
}

.contact-us-title
{
    font-size: 48px;
    font-weight: 600;
}

.contact-us-subtitle
{
    font-size: 32px;
    font-weight: 500;
}

.contact-us-image
{
    max-width: 100%;
    position: relative;
    right: 0.75rem;
}