
.simple-dropdown-select
{
    font-size: 22px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px #f0f0ff solid;
}

.simple-dropdown-wrapper
{
    display: flex;
    flex-flow: column;
    gap: 0rem;
    flex-grow: 1;
}