
.landing-wrapper
{
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: calc(3vw + 2rem) 3rem 5rem 3rem;
    width: 70rem;
    max-width: calc(100% - 6rem);
}

.landing-title
{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(45deg, rgb(55, 55, 117) 0%, rgba(0,71,85,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-subtitle
{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.landing-conversion-button
{
    background-image: linear-gradient(45deg, rgb(75, 75, 179) 0%, rgb(70, 18, 142) 100%);
    background-size: 200% auto;
    color: white;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 28px;
    font-weight: 600;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
.landing-conversion-button:hover
{
    background-position: right center;
}

.landing-card-flex-title
{
    font-size: 28px;
    font-weight: 500;
    padding-top: 3rem;
}

.landing-card-flex
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
}

.landing-card
{
    display: flex;
    flex-flow: column;
    gap: 0.75rem;
    border-radius: 0.5rem;
    border: 1px #c8c8c8 solid;
    padding: 1rem;
    flex-shrink: 0;
    box-shadow: 2px 2px 2px 0px #eeeeee;
    background: linear-gradient(135deg, rgb(247, 242, 255) 0%, rgb(237, 253, 255) 33%, rgb(247, 242, 255) 66%, rgb(237, 253, 255) 100%);
    background-size: 300% auto;
    height: 12rem;
    width: 15rem;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
}
.landing-card:hover
{
    background-position: right center;
}

.landing-card-title
{
    font-size: 22px;
    font-weight: 500;
    padding-top: 0.5rem;
    text-align: center;
}

.landing-card-text
{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.landing-card-secondary
{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 1px #dfdfdf solid;
    padding: 1rem;
    flex-shrink: 0;
    box-shadow: 2px 2px 2px 0px #eeeeee;
    background: linear-gradient(135deg, rgb(234, 223, 255) 0%, rgb(234, 255, 255) 33%, rgb(234, 223, 255) 66%, rgb(234, 255, 255) 100%);
    background-size: 300% auto;
    height: 12rem;
    width: 25em;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
}
.landing-card-secondary:hover
{
    background-position: right center;
}