
.rules-wrapper
{
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    padding: 1rem;
    width: fit-content;
}
@media screen and (max-width: 800px)
{
    .rules-wrapper
    {
        width: calc(80vw - 2rem - 2rem - 1px);
    }
}

.rules-title
{
    font-size: 30px;
    font-weight: 500;
    padding-left: 0.5rem;
}

.rules-content
{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1rem 0;
    align-items: flex-start;
    justify-content: center;
    max-width: 70rem;
}

.rules-container
{
    display: flex;
    flex-flow: column;
    gap: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-shrink: 1;
    height: 21rem;
    max-width: 30rem;
    min-width: 15rem;
    background-color: #fafafa;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.rule-wrapper
{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
}

.rule-divider
{
    color: #c0c0c0;
}

.rules-non-found-text
{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    width: 12rem;
    align-self: center;
}

.rule-domain
{
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1lh;
    font-size: 28px;
    font-weight: 600;
}

.rule-days-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
}

.rule-days-active
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8a8a;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 22px;
    color: white;
    font-weight: 600;
}
.rule-days-active span
{
    padding-top: 0.25rem;
}

.rule-days-inactive
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 22px;
    color: black;
    font-weight: 600;
}
.rule-days-inactive span
{
    padding-top: 0.25rem;
}

.rule-row
{
    padding: 0 1rem;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    max-width: calc(100% - 2rem);
}

.rule-row-space-between
{
    padding: 0 1rem;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    max-width: calc(100% - 2rem);
}