
.simple-input
{
    font-size: 22px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px #f0f0ff solid;
}
.simple-input:focus
{
    outline: 2px #a0a0f0 solid;
}

.simple-input-wrapper
{
    display: flex;
    flex-flow: column;
    gap: 0;
}

.simple-input-label
{
    font-size: 15px;
    font-weight: 500;
}