
.delete-account-wrapper
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

.delete-account-wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.delete-account-button
{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #c53838;
    color: white;
    font-size: 22px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
}
.delete-account-button:hover
{
    background-color: #a83131;
}

.delete-account-cancel-text
{
    font-size: 18px;
    font-weight: 500;
}

.delete-account-cancel-wrapper
{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
}