
.cookies-wrapper
{
    border-radius: 0.5rem;
    max-width: calc(100% - 4rem);
    width: 90rem;
    background-color: #f0f0f9;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50% - 1rem), 0);
    margin: 1rem;
    gap: 1rem;
    border: 1px solid #c0c0c0;
}
@media screen and (max-width: 800px)
{
    .cookies-wrapper
    {
        flex-flow: column;
        align-items: center;
    }
}

.cookies-text-wrapper
{
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
}

.cookies-wrapper-main-text
{
    font-size: 18px;
    font-weight: 500;
}

.cookies-privacy-policy-text
{
    font-size: 18px;
    font-weight: 500;
    color: #0f0f80;
}

.cookies-go-away-button
{
    font-size: 18px;
    font-weight: 500;
    background-color: #0f0f80;
    color: white;
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-wrap: nowrap;
}
.cookies-go-away-button:hover
{
    background-color: #0a0a40;
}