
.nav-wrapper
{
    background-color: #f5f5fa;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin-left: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    height: 3.25rem;
    justify-content: space-between;
    width: calc(100% - 7rem);
}

.nav-logo-wrapper
{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 0.25rem;
}

.nav-logo
{
    padding: 0 0.3rem;
}

.nav-title
{
    font-size: 30px;
    font-weight: 600;
    padding-top: 0.35rem;
}

.nav-page-title
{
    font-size: 24px;
}

.nav-buttons
{
    display: flex;
    flex-flow: row nowrap;
}

.nav-notsignedin-buttons
{
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
    align-items: center;
}

.nav-link
{
    width: fit-content;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-link:hover
{
    background-color: #e9e9f0;
    color: #000050;
}

.nav-btn-grouping-collapse
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
}
@media screen and (max-width: 800px)
{
    .nav-btn-grouping-collapse
    {
        display: none;
    }
}

.nav-link-ext
{
    width: fit-content;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-link-ext:hover
{
    background-color: #e9e9f0;
    color: #000050;
}

.nav-link-prominent-secondary
{
    width: fit-content;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1.2rem 0.25rem 1.2rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #000036;
    border-radius: 1rem;
}
.nav-link-prominent-secondary:hover
{
    background-color: #000036;
    color: white;
}

.nav-link-prominent
{
    width: fit-content;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1.2rem 0.25rem 1.2rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #00009f;
    color: #00009f;
    border-radius: 1rem;
}
.nav-link-prominent:hover
{
    background-color: #00009f;
    color: white;
}

.nav-btn-grouping-dropdown
{
    display: none;
}
.nav-btn-grouping-dropdown-display
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: calc(100% - 3rem);
    position: relative;
    top: -0.5rem;
    left: 0.5rem;
    background-color: #f5f5fa;
    border-radius: 0 0 0.5rem 0.5rem;
}
@media screen and (min-width: 800px)
{
    .nav-btn-grouping-dropdown-display
    {
        display: none;
    }
}

.nav-btn-grouping-appear
{
    display: none;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 800px)
{
    .nav-btn-grouping-appear
    {
        display: flex;
    }
}

.nav-btn-hamburger
{
    border: none;
    cursor: pointer;
    height: fit-content;
    display: flex;
    padding: 0.3rem;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #f5f5fa;
}
.nav-btn-hamburger:hover
{
    background-color: #f0f0fa;
}